<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <img src="assets/layout/images/{{ layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white' }}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
    <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="text-center mb-5">
            <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Welcome, !</div>
            <span class="text-600 font-medium">Sign Up to continue</span>
          </div>

          <div class="flex justify-center flex-column">
            <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
            <input id="username" type="text" placeholder="Username" formControlName="username" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [ngClass]="{'ng-invalid': signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched}">
            <div *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched" class="error">Username is required and must be at least 3 characters</div>

            <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
            <input id="email" type="text" placeholder="Email address" formControlName="email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [ngClass]="{'ng-invalid': signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched}">
            <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched" class="error">Please enter a valid email</div>

            <label for="password" class="block text-900 text-xl font-medium mb-2">Password</label>
            <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
            <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="error">Password must be at least 6 characters</div>

            <label for="confirmPassword" class="block text-900 text-xl font-medium mb-2">Confirm Password</label>
            <p-password id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
            <div  style="margin-top: -20px;"  *ngIf="signUpForm.errors?.['mismatch'] && signUpForm.get('confirmPassword')?.touched" class="error">Passwords do not match</div>

            <button pButton pRipple label="Sign Up" class="w-full p-3 text-xl" type="submit" [disabled]="signUpForm.invalid"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
